:root {
    --body-color: #FAFAFA;
    --heading-color: #212121;
    --paragraph-color: #5D5D5D;
    --hr-color: #DFDFDF;
    --bar-background: #dbdbdb;
    --bar-filled: #000000;

    font-size: 8px;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-color);
    max-width: 1240px;
    margin: 6.667rem auto;
    padding: 6rem 4rem;
    font-size: 1.5rem;
    font-weight: 400;
}

h1,
h2,
.heading {
    font-weight: 600;
    color: var(--heading-color);
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    position: relative;
    margin-bottom: 2rem;
    margin-top: 0;
}

h2::after {
    content: "";
    position: absolute;
    bottom: -0.667rem;
    left: 0;
    width: 2.3rem;
    height: 0.26rem;
    background-color:var(--heading-color);
}

a {
    display: block;
    color: var(--paragraph-color);
    margin: .3rem 0;
}

p {
    margin: 0;
    padding: 0;
    color: var(--paragraph-color);
    line-height: 1.5;
}

p + p {
    margin-top: .6em;
}

p a {
    display: inline-block;
    white-space: pre-wrap;
    font-weight: 600;
    color: var(--paragraph-color);
    text-decoration: none;
}

p.bold {
    color: var(--heading-color);
    font-weight: 600;
    text-transform: uppercase;
}

ul {
    margin: 0 0 0 0.667rem;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 0.3rem 0;
    color: var(--paragraph-color);
}

ul li::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0.53rem;
    height: 0.2rem;
    margin-right: 0.6rem;
    transform: translateY(-0.2rem);
    background-color: var(--heading-color);
}
ul li li::before {
    background-color: var(--hr-color);
}

.cv {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
}


.introduction {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    grid-column: 1 / -1;
    grid-row: 1;
    padding-bottom: 2.8rem;
    border-bottom: 0.133rem solid var(--hr-color);
}


.introduction .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introduction h1 {
    font-size: 4.7em;
    margin: 0;
}

.introduction .avatar {
    margin-bottom: 0;
    margin-left: 2.667em;
    width: 6.667em;
    min-width: 10em;
}

.introduction .avatar img {
    display: block;
    width: 100%;
}

.side {
    display: block;
    margin-top: 2.8em;
    padding-right: 2.8em;
    border-top: 0;
    border-right: 0.13em solid var(--hr-color);
}

.main {
    grid-column: 2;
    grid-row: 2;
    padding-top: 2.8em;
    padding-left: 2.8em;
}

.main section:not(:last-of-type) {
    border-bottom: 0.133em solid var(--hr-color);
    padding-bottom: 2.8em;
    margin-bottom: 2.8em;
}

.side section:not(:last-of-type) {
    padding-bottom: 2.8em;
    margin-bottom: 0;
}

section:first-of-type h2 {
    margin-top: 0;
}

section {
    page-break-inside: avoid;
    break-inside: avoid-page;
}

article:not(:last-of-type) {
    margin-bottom: 2.8em
}

article header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

article header .title {
    font-size: 1.08em;
    font-weight: 600;
    margin-bottom: 0.4em;
}

article header .title a {
    display: none;
}

article header .location {
    font-size: .9em;
}

article .date {
    font-size: .9em;
    margin-bottom: 1em;
}

article.article--skillset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.bar {
    width: 100%;
    max-width: 200px;
    margin-bottom: 1em;
}

.bar .label {
    margin-bottom: 0.3em;
}
.bar .line {
    position: relative;
    z-index: 0;
    height: 0.53em;
    width: 100%;
    background-color: var(--bar-background);
}

.bar .line::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--bar-filled);
}

.bar--dutch .line::after {
    width: 100%;
}

.bar--english .line::after {
    width: 90%;
}