:root {
    --body-color: #FAFAFA;
    --heading-color: #212121;
    --paragraph-color: #5D5D5D;
    --hr-color: #DFDFDF;
    --bar-background: #dbdbdb;
    --bar-filled: #000000;

    font-size: 15px;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-color);
    max-width: 920px;
    margin: 30px auto;
    padding: 45px 30px;
    font-size: 1em;
    font-weight: 400;
}

body.pdf {
    max-width: 2480px;
    font-size: 1.5em;
}

@media (min-width: 769px) {
    body {
        margin: 100px auto;
        padding: 90px 42px;
    }
}

h1,
h2,
.heading {
    font-weight: 600;
    color: var(--heading-color);
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    position: relative;
    margin-bottom: 30px;
}

h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 35px;
    height: 4px;
    background-color:var(--heading-color);
}

a {
    display: block;
    color: var(--paragraph-color);
    margin: 5px 0;
}

p {
    margin: 0;
    padding: 0;
    color: var(--paragraph-color);
    line-height: 1.5;
}
p + p {
    margin-top: 10px;
}

p a {
    display: inline-block;
    white-space: pre-wrap;
    margin: 0;
    font-weight: 600;
    color: var(--paragraph-color);
    text-decoration: none;
}

p.bold {
    color: var(--heading-color);
    font-weight: 600;
    text-transform: uppercase;
}

ul {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 5px 0;
    color: var(--paragraph-color);
}

ul li::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 8px;
    height: 3px;
    margin-right: 10px;
    transform: translateY(-3px);
    background-color: var(--heading-color);
}
ul li li::before {
    background-color: var(--hr-color);
}

.cv {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
}

@media (min-width: 769px) {
    .cv {
        display: grid;
    }
}


.introduction {
    flex-direction: row-reverse;
    justify-content: space-between;
    grid-column: 1 / -1;
    grid-row: 1;
    padding-bottom: 42px;
    border-bottom: 2px solid var(--hr-color);
}

@media (min-width: 769px) {
    .introduction {
        display: flex;
    }
}


.introduction .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introduction h1 {
    font-size: 1.5em;
    margin: 0;
}

@media (min-width: 375px) {
    .introduction h1 {
        font-size: 2em;
    }
}

@media (min-width: 769px) {
    .introduction h1 {
        font-size: 3.4em;
    }
}

.introduction .avatar {
    margin-bottom: 30px;
    margin-left: 10px;
    width: 100px;
}

@media (min-width: 769px) {
    .introduction .avatar {
        margin-bottom: 0;
        margin-left: 40px;
        min-width: 150px;
    }
}

.introduction .avatar img {
    display: block;
    width: 100%;
}

.side {
    grid-column: 1;
    grid-row: 2;
    margin-top: 42px;
    padding-top: 42px;
    border-top: 2px solid var(--hr-color);
}

@media (min-width: 521px) {
    .side {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }
}
@media (min-width: 769px) {
    .side {
        display: block;
        max-width: 300px;
        margin-top: 0;
        padding-right: 42px;
        border-top: 0;
        border-right: 2px solid var(--hr-color);
    }
}

.main {
    grid-column: 2;
    grid-row: 2;
    padding-top: 42px;
}

@media (min-width: 769px) {
    .main {
        padding-left: 42px;
    }
}


.main section:not(:last-of-type) {
    border-bottom: 2px solid var(--hr-color);
    padding-bottom: 42px;
    margin-bottom: 42px;
}

.side section:not(:last-of-type) {
    padding-bottom: 24px;
    margin-bottom: 24px;
}

@media (min-width: 520px) and (max-width: 768px) {
    .side section:not(:last-of-type) {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

section:first-of-type h2 {
    margin-top: 0;
}

article:not(:last-of-type) {
    margin-bottom: 42px;
}

article header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

article header .title {
    display: flex;
    align-items: center;
    font-size: 1.08em;
    font-weight: 600;
    margin-bottom: 6px;
}
article header .title a {
    margin: 0;
    margin-left: 10px;
}

article header .title img {
    width: 18px;
    transition: opacity 200ms cubic-bezier(.92,.77,.71,1.01);
    opacity: 0;
}


article header .title:hover img {
    opacity: 0.3;
}

article header .title a:focus img {
    opacity: 0.3;
}

article header .location {
    font-size: .9em;
}

article .date {
    font-size: .9em;
    margin-bottom: 15px;
}

article.article--skillset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.bar {
    width: 100%;
    max-width: 200px;
    margin-bottom: 15px;
}

.bar .label {
    margin-bottom: 5px;
}
.bar .line {
    position: relative;
    z-index: 0;
    height: 8px;
    width: 100%;
    background-color: var(--bar-background);
}

.bar .line::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--bar-filled);
}

.bar--dutch .line::after {
    width: 100%;
}

.bar--english .line::after {
    width: 90%;
}